



<div id="et-main-area">
  <div id="main-content">
    <article
      id="post-988"
      class="post-988 page type-page status-publish hentry"
    >
      <div class="entry-content">
        <div class="et-l et-l--post">
          <div class="et_builder_inner_content et_pb_gutters3">
            <div
              class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_0 et_pb_equal_columns">
                <div
                  class="et_pb_column et_pb_column_3_5 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_video et_pb_video_0">
                    <div class="et_pb_video_box">
                      @* <iframe
                        title="Student Transportation Administrators speak about Here Comes The Bus"
                        width="1080"
                        height="608"
                        src="/videos/movie.mp4"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe> *@

                      <video src="/videos/movie.mp4" controls></video>
                    </div>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_2_5 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h3>Real-time Tracking</h3>
                      <h3>Geo-fencing</h3>
                      <h3>Route Optimization</h3>
                    </div>
                  </div>
                  <div
                    class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_left et_pb_module"
                  >
                    <a
                      class="et_pb_button et_pb_button_0 et_hover_enabled et_pb_bg_layout_light"
                      href="https://herecomesthebus.com/contact"
                      >get started</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular" 
            >
              <div class="et_pb_row et_pb_row_1 et_clickable">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_light" style="margin-top: 20px;"
                  >
                    <div class="et_pb_text_inner">
                      <h3>
                        <a href="http://www.busguardian.com">Advanced Tracking & Safety
                        </a> 
                      </h3>
                      <h4>Contact tracing &amp; Hygiene Verification</h4>
                      <p style="text-align: center">
                        Discover how our cutting-edge technology ensures the safety and efficiency of school bustracking.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consv allis quam aliquet integer eget magna ullam corper intesager vulutate aenean nunc quis a urna morbi id vitae. Vulpuate nisl

sed morbi sit ut placerat eges aeftas et. Pellen tesque tristisque magnis augue gravida pulvinar placerat. Tellus massa pretra scelerisque leo. In volutpat arcu nunc nisl et, viverra faucisfbus
                      </p>
                    </div>
                  </div>
                  <div
                    class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module"
                  >
                    <a
                      class="et_pb_button et_pb_button_1 et_pb_bg_layout_light"
                      href="http://www.busguardian.com"
                      target="_blank"
                      >LEARN MORE</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_2">
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_2 et_hover_enabled et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <div class="column">
                        <div class="page" title="Page 2">
                          <div class="section">
                            <div class="layoutArea">
                              <div class="column">
                                <div class="page" title="Page 3">
                                  <div class="section">
                                    <div class="layoutArea">
                                      <div class="column">
                                        <h2>
                                          Why Choose Us?
                                        </h2>
                                        <p>
                                          <span
                                            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consv allis quam aliquet integer eget magna ullam corper intesager peent esque urna. Ac eu fringilla intea dger egadv estas ut. Sed vulutate aenean nunc quis a urna morbi id vitae. Vulpuate nisl

sed morbi sit ut placerat eges aeftas et. Pellen tesque tristisque magnis augue gravida pulvinar placerat. Tellus massa pretra scelerisque leo. In volutpat arcu nunc nisl et, viverra faucisfbus egestas. In habitasse sagittis, convallis ut commodo amet, odio sagittis. Maecenas massa turpis duis felis, massa. Morbi feugiat. </span
                                          >
                                        </p>
                                        <p>
                                          <span
                                            >Bus Guardian brand ambassador Brad
                                            Bishop shared the Bus Guardian story
                                            and school districts are adopting
                                            this new solution to protect drivers
                                            and students during the COVID-19
                                            challenge. </span
                                          ><span> </span>
                                        </p>
                                        <p>
                                          <a href="http://www.busguardian.com"
                                            >READ MORE</a
                                          >
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div class="et_pb_module et_pb_video et_pb_video_1">
                    <div class="et_pb_video_box">
                      <video controls>
                        <source
                          type="video/mp4"
                          src="/videos/movie.mp4"
                        />
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_3">
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_video et_pb_video_2">
                    <div class="et_pb_video_box">
                      @* <iframe
                        title="Introducing Here Comes the Bus®"
                        width="1080"
                        height="608"
                        src="/videos/movie.mp4"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe> *@
                      <video src="/videos/movie.mp4" controls style="width: 100%;">

                      </video>
                    </div>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_6 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_3 et_hover_enabled et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h3>
                        How Much Can I Recive?
                      </h3>
                      <p>
                       Lorem ipsum dolor sit amet, consec tetasssur adipiscing elit. Tellus integer proin nisl pretium, vestibulum dictum blandit risus. Nisl commodo

turpis vivamus donec. Id congue vesti bualum odio dignissim at quisque viverra. Non semper in sed quisque dui. Platea posuere ullamcorper id fames ut sed urna cursus eget. Neque, vel
                      </p>
                      <p>
                        <a
                          href="https://herecomesthebus.com/category/redirect-post/"
                          target="_blank"
                          rel="noopener noreferrer"
                          >READ MORE NEWS</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular" style="background-color:#464646 !important"
                  >
              <div class="et_pb_row et_pb_row_4">
                <div
                  class="et_pb_column et_pb_column_1_3 et_pb_column_7 et_pb_css_mix_blend_mode_passthrough" 
                >
                  <div
                    class="et_pb_module et_pb_number_counter et_pb_number_counter_0 et_pb_text_align_center et_pb_bg_layout_light et_pb_with_title"
                    data-number-value="36"
                    data-number-separator=""
                  >
                    <div class="percent">
                      <p>
                        <span class="percent-value"></span
                        ><span class="percent-sign"></span>
                      </p>
                    </div>
                    <h3 class="title">States Where We Operate</h3>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_3 et_pb_column_8 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_number_counter et_pb_number_counter_1 plus et_pb_text_align_center et_pb_bg_layout_light et_pb_with_title"
                    data-number-value="2010845"
                    data-number-separator=","
                  >
                    <div class="percent">
                      <p>
                        <span class="percent-value"></span
                        ><span class="percent-sign"></span>
                      </p>
                    </div>
                    <h3 class="title">Emails sent per day</h3>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_3 et_pb_column_9 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_number_counter et_pb_number_counter_2 plus et_pb_text_align_center et_pb_bg_layout_light et_pb_with_title"
                    data-number-value="4.6"
                    data-number-separator=""
                  >
                    <div class="percent">
                      <p>
                        <span class="percent-value"></span
                        ><span class="percent-sign"></span>
                      </p>
                    </div>
                    <h3 class="title">Star rating on the App store</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_section et_pb_section_5 et_section_regular">
              <div class="et_pb_row et_pb_row_5 et_pb_row_fullwidth">
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_10 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_image et_pb_image_0 et_pb_image_sticky"
                  >
                    <a href="https://herecomesthebus.com/parents/"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="400"
                          height="400"
                          src="/images/iStock_000003933526XSmall.jpg"
                          alt=""
                          title=""
                          srcset="
                            /images/iStock_000003933526XSmall.jpg"        400w,
                            https://herecomesthebus.com/wp-content/uploads/2019/05/boy_temp_hctb-150x150.jpg 150w,
                            https://herecomesthebus.com/wp-content/uploads/2019/05/boy_temp_hctb-300x300.jpg 300w
                          "
                          sizes="(max-width: 400px) 100vw, 400px"
                          class="wp-image-1211" /></span
                    ></a>
                  </div>
                  <div
                    class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module"
                  >
                    <a
                      class="et_pb_button et_pb_button_2 et_pb_bg_layout_light"
                      href="https://herecomesthebus.com/parents/"
                      >parents</a
                    >
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_11 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_image et_pb_image_1 et_pb_image_sticky"
                  >
                    <a href="https://herecomesthebus.com/schools/"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="400"
                          height="400"
                          src="/images/222.jpg"
                          alt=""
                          title=""
                        
                         *@
                          sizes="(max-width: 400px) 100vw, 400px"
                          class="wp-image-1215" /></span
                    ></a>
                  </div>
                  <div
                    class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module"
                  >
                    <a
                      class="et_pb_button et_pb_button_3 et_pb_bg_layout_light"
                      href="https://herecomesthebus.com/schools/"
                      >schools</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_6 et_clickable">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_12 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_4 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h2 style="text-align: center">
                        Contact tracing &amp; Hygiene Verification:<br />
                        School Bus Tech FOr the COVId Challenge
                      </h2>
                      <h3 style="text-align: center">
                        From the school bus safety experts behind Here Comes The
                        Bus, we&#8217;re proud to introduce our COVID-19 school
                        bus safety solution. Trusted solutions designed to
                        improve school bus safety and help communities manage
                        the complex challenges of returning to the classroom.
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_section et_pb_section_7 et_section_regular">
              <div class="et_pb_row et_pb_row_7">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_13 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_5 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h2 style="text-align: center">
                        DO YOU KNOW A SCHOOL BUS HERO?
                      </h2>
                      <h3 style="text-align: center">
                        <span
                          >We know that school bus drivers play an essential
                          role in the school day of countless students. </span
                        >
                      </h3>
                      <h3 style="text-align: center">
                        Nominate a Bus Guardian Hero for a chance to win a $250
                        Gift Card
                      </h3>
                    </div>
                  </div>
                  <div
                    class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module"
                  >
                    <a
                      class="et_pb_button et_pb_button_4 et_pb_bg_layout_light"
                      href="http://www.busguardian.com/hero/"
                      target="_blank"
                      >NOMINATE A HERO</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_8 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_8">
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_14 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_6 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h3 style="text-align: center">
                        Synovia’s Here Comes The Bus solution supports COVID-19
                        response
                      </h3>
                    </div>
                  </div>
                  <div class="et_pb_module et_pb_video et_pb_video_3">
                    <div class="et_pb_video_box">
                      <iframe
                        loading="lazy"
                        title="Here Comes The Bus is featured on CNN Tonight during COVID-19 crisis."
                        width="1080"
                        height="608"
                        src="https://www.youtube.com/embed/qvlUaI4Vk1Y?feature=oembed"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_2 et_pb_column_15 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_7 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h3 style="text-align: center">
                        APS Adopts New Bus Tracking SYstem
                      </h3>
                    </div>
                  </div>
                  <div class="et_pb_module et_pb_code et_pb_code_0">
                    <div class="et_pb_code_inner">
                      <iframe
                        loading="lazy"
                        width="640"
                        height="360"
                        src="https://11alive.com/embeds/video/85-efbdb59b-1d38-484d-afbd-885179298f52/iframe"
                        allowfullscreen="true"
                        webkitallowfullscreen="true"
                        mozallowfullscreen="true"
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_9 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_9">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_16 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_8 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <div class="et_pb_row et_pb_row_11">
                        <div
                          class="et_pb_column et_pb_column_4_4 et_pb_column_27 et_pb_css_mix_blend_mode_passthrough et-last-child"
                        >
                          <div
                            class="et_pb_module et_pb_text et_pb_text_9 et_pb_text_align_left et_pb_bg_layout_light"
                          >
                            <div class="et_pb_text_inner">
                              <h3>sample of school districts we serve</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="et_pb_row et_pb_row_10">
                <div
                  class="et_pb_column et_pb_column_1_4 et_pb_column_17 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_2">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="300"
                        height="180"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/12/Wayne-Westland-Community-Schools-grey.jpg"
                        alt=""
                        title="Wayne-Westland Community Schools-grey"
                        class="wp-image-8617"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_4 et_pb_column_18 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_3">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="300"
                        height="107"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/12/charlotte-mecklenburg-schools-logo-grey.png"
                        alt=""
                        title="charlotte mecklenburg schools logo-grey"
                        class="wp-image-8612"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_4 et_pb_column_19 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_4">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="300"
                        height="192"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/12/okc-public-schools-grey.jpg"
                        alt=""
                        title="okc public schools-grey"
                        class="wp-image-8616"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_4 et_pb_column_20 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_5">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="300"
                        height="231"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/12/cumberland-co-grey.jpg"
                        alt=""
                        title="cumberland co-grey"
                        class="wp-image-8613"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="et_pb_section et_pb_section_10 et_section_regular">
              <div class="et_pb_row et_pb_row_11">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_21 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_9 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner">
                      <h2 style="text-align: center">
                        <span
                          >Here Comes The Bus has received numerous awards for
                          its commitment to student safety and innovation. We
                          remain committed to evolving the product to better
                          serve schools and families. </span
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="et_pb_row et_pb_row_12 et_pb_row_fullwidth">
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_22 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_image et_pb_image_6 et_pb_image_sticky"
                  >
                    <a
                      href="https://www.iotevolutionworld.com/newsroom/articles/444525-winners-the-2019-iot-excellence-award-announced.htm"
                      target="_blank"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="300"
                          height="192"
                          src="https://herecomesthebus.com/wp-content/uploads/2020/08/IoT_Excellence_19-300x192.jpg"
                          alt="Here Comes the Bus Receives 2019 IoT Evolution Excellence Award"
                          title="IoT_Excellence_19"
                          srcset="
                            https://herecomesthebus.com/wp-content/uploads/2020/08/IoT_Excellence_19-300x192.jpg 300w,
                            https://herecomesthebus.com/wp-content/uploads/2020/08/IoT_Excellence_19.jpg         324w
                          "
                          sizes="(max-width: 300px) 100vw, 300px"
                          class="wp-image-8218" /></span
                    ></a>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_23 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_image et_pb_image_7 et_pb_image_sticky"
                  >
                    <a
                      href="https://www.businesswire.com/news/home/20200225005494/en/GSMA-Announces-Winners-2020-GLOMO-Awards"
                      target="_blank"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="300"
                          height="157"
                          src="https://herecomesthebus.com/wp-content/uploads/2020/08/GLOMO-Winner-1-1200x627-1-300x157.jpg"
                          alt="CalAmp Awarded 2020 Global Mobile Award For Here Comes The Bus®"
                          title="GLOMO - Winner-1-1200x627"
                          class="wp-image-8219" /></span
                    ></a>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_24 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_8">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="204"
                        height="61"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/09/SensorsMidwestLogo.jpg"
                        alt="CalAmp’s iOn&#x2122; Vision Receives 2020 IoT Evolution Product of the Year Award"
                        title="SensorsMidwestLogo"
                        class="wp-image-8288"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_25 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_9">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="300"
                        height="218"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/09/Evolution-Product-of-the-Year-300x218.png"
                        alt="CalAmp’s iOn&#x2122; Vision Receives 2020 IoT Evolution Product of the Year Award"
                        title="Evolution Product of the Year"
                        srcset="
                          https://herecomesthebus.com/wp-content/uploads/2020/09/Evolution-Product-of-the-Year-300x218.png 300w,
                          https://herecomesthebus.com/wp-content/uploads/2020/09/Evolution-Product-of-the-Year.png         346w
                        "
                        sizes="(max-width: 300px) 100vw, 300px"
                        class="wp-image-8280"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_26 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_10">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="300"
                        height="173"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/09/IoTPlatformsLeadershipAward-300x173.png"
                        alt="CalAmp and CargoSense Air Freight Visibility Receives 2019 IoT Evolution Platforms Leadership Award"
                        title="IoTPlatformsLeadershipAward"
                        srcset="
                          https://herecomesthebus.com/wp-content/uploads/2020/09/IoTPlatformsLeadershipAward-300x173.png 300w,
                          https://herecomesthebus.com/wp-content/uploads/2020/09/IoTPlatformsLeadershipAward.png         415w
                        "
                        sizes="(max-width: 300px) 100vw, 300px"
                        class="wp-image-8287"
                    /></span>
                  </div>
                </div>
              </div>
              <div class="et_pb_row et_pb_row_13 et_pb_row_fullwidth">
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_27 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_image et_pb_image_11 et_pb_image_sticky"
                  >
                    <a
                      href="https://www.businesswire.com/news/home/20200225005494/en/GSMA-Announces-Winners-2020-GLOMO-Awards"
                      target="_blank"
                      ><span class="et_pb_image_wrap"
                        ><img
                          src="https://herecomesthebus.com/wp-content/uploads/2020/09/Equipment-Today’s-2020-Contractors’-Top-50-New-Products-186x300.jpg"
                          alt="CalAmp iOn Suite Named Equipment Today’s 2020 Contractors’ Top 50 New Products"
                          title="Equipment Today’s 2020 Contractors’ Top 50 New Products" /></span
                    ></a>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_28 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_12">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="173"
                        height="159"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/09/FrostSullivan2016.jpg"
                        alt=""
                        title="FrostSullivan2016"
                        class="wp-image-8282"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_29 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_13">
                    <a
                      href="https://www.businesswire.com/news/home/20190109005496/en/IHS-Markit-Announces-Innovation-Awards-Winners-ShowStoppers"
                      target="_blank"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="249"
                          height="159"
                          src="https://herecomesthebus.com/wp-content/uploads/2020/09/IoTExcellence2016.jpg"
                          alt="Here Comes the Bus Receives 2019 IoT Evolution Excellence Award"
                          title="IoTExcellence2016"
                          class="wp-image-8286" /></span
                    ></a>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_30 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_14">
                    <span class="et_pb_image_wrap"
                      ><img
                        loading="lazy"
                        width="900"
                        height="500"
                        src="https://herecomesthebus.com/wp-content/uploads/2020/09/FastCompanyLogo.png"
                        alt="Hello Tractor &amp; CalAmp"
                        title="FastCompanyLogo"
                        srcset="
                          https://herecomesthebus.com/wp-content/uploads/2020/09/FastCompanyLogo.png         900w,
                          https://herecomesthebus.com/wp-content/uploads/2020/09/FastCompanyLogo-480x267.png 480w
                        "
                        sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 900px, 100vw"
                        class="wp-image-8281"
                    /></span>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_5 et_pb_column_31 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_15">
                    <a
                      href="https://www.businesswire.com/news/home/20190109005496/en/IHS-Markit-Announces-Innovation-Awards-Winners-ShowStoppers"
                      target="_blank"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="215"
                          height="300"
                          src="https://herecomesthebus.com/wp-content/uploads/2020/08/IHS-Markit-Innovation-Award.png"
                          alt=""
                          title="IHS Markit Innovation Award"
                          class="wp-image-8220" /></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_11 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_14">
                <div
                  class="et_pb_column et_pb_column_1_3 et_pb_column_32 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_number_counter et_pb_number_counter_3 et_pb_text_align_center et_pb_bg_layout_light et_pb_with_title"
                    data-number-value="2134762"
                    data-number-separator=","
                  >
                    <div class="percent">
                      <p>
                        <span class="percent-value"></span
                        ><span class="percent-sign"></span>
                      </p>
                    </div>
                    <h3 class="title">Downloads</h3>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_3 et_pb_column_33 et_pb_css_mix_blend_mode_passthrough"
                >
                  <div
                    class="et_pb_module et_pb_number_counter et_pb_number_counter_4 plus et_pb_text_align_center et_pb_bg_layout_light et_pb_with_title"
                    data-number-value="410000+"
                    data-number-separator=","
                  >
                    <div class="percent">
                      <p>
                        <span class="percent-value"></span
                        ><span class="percent-sign"></span>
                      </p>
                    </div>
                    <h3 class="title">Daily Active Users</h3>
                  </div>
                </div>
                <div
                  class="et_pb_column et_pb_column_1_3 et_pb_column_34 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_number_counter et_pb_number_counter_5 plus et_pb_text_align_center et_pb_bg_layout_light et_pb_with_title"
                    data-number-value="325+"
                    data-number-separator=""
                  >
                    <div class="percent">
                      <p>
                        <span class="percent-value"></span
                        ><span class="percent-sign"></span>
                      </p>
                    </div>
                    <h3 class="title">School Districts across North America</h3>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_12 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_15">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_35 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div
                    class="et_pb_module et_pb_text et_pb_text_10 et_pb_text_align_left et_pb_bg_layout_light"
                  >
                    <div class="et_pb_text_inner"><h2>In-The-News</h2></div>
                  </div>
                  <div
                    class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"
                  >
                    <div class="et_pb_divider_internal"></div>
                  </div>
                  <div
                    class="et_pb_module et_pb_blog_0 et_pb_blog_grid_wrapper et_pb_bg_layout_light"
                  >
                    <div class="et_pb_blog_grid clearfix">
                      <div class="et_pb_ajax_pagination_container">
                        <div class="et_pb_salvattore_content" data-columns>
                          <article
                            id="post-8897"
                            class="et_pb_post clearfix et_pb_no_thumb et_pb_blog_item_0_0 post-8897 post type-post status-publish format-standard hentry category-announcements category-bus-guardian-press-releases category-redirect-post"
                          >
                            <h2 class="entry-title">
                              <a
                                href="https://herecomesthebus.com/calamps-bus-guardian-supports-back-to-school-safety-with-covid-19-contact-tracing-solution/"
                                >CalAmp’s Bus Guardian&#x2122; Supports
                                Back-to-School Safety with COVID-19 Contact
                                Tracing Solution</a
                              >
                            </h2>

                            <div class="post-content">
                              <div
                                class="post-content-inner et_multi_view_hidden"
                              >
                                <p>
                                  For Immediate Release CalAmp’s Bus
                                  Guardian® Supports Back-to-School Safety with
                                  COVID-19 Contact Tracing Solution 14 new
                                  school districts across the U.S. use contact
                                  tracing and hygiene verification solution to
                                  navigate a safe return to the classroom amid
                                  the Delta...
                                </p>
                              </div>
                            </div>
                          </article>

                          <article
                            id="post-8892"
                            class="et_pb_post clearfix et_pb_blog_item_0_1 post-8892 post type-post status-publish format-standard has-post-thumbnail hentry category-announcements category-redirect-post category-parents category-posts"
                          >
                            <div class="et_pb_image_container">
                              <a
                                href="https://herecomesthebus.com/taxpayers-benefit-when-school-districts-implement-here-comes-the-bus/"
                                class="entry-featured-image-url"
                                ><img
                                  loading="lazy"
                                  src="https://herecomesthebus.com/wp-content/uploads/2021/08/iStock-1166892600-400x250.jpg"
                                  alt="How Taxpayers Benefit When School Districts Implement Here Comes The Bus"
                                  class=""
                                  srcset="
                                    https://herecomesthebus.com/wp-content/uploads/2021/08/iStock-1166892600-scaled.jpg  479w,
                                    https://herecomesthebus.com/wp-content/uploads/2021/08/iStock-1166892600-400x250.jpg 480w
                                  "
                                  sizes="(max-width:479px) 479px, 100vw "
                                  width="400"
                                  height="250"
                              /></a>
                            </div>
                            <h2 class="entry-title">
                              <a
                                href="https://herecomesthebus.com/taxpayers-benefit-when-school-districts-implement-here-comes-the-bus/"
                                >How Taxpayers Benefit When School Districts
                                Implement Here Comes The Bus</a
                              >
                            </h2>

                            <div class="post-content">
                              <div
                                class="post-content-inner et_multi_view_hidden"
                              >
                                <p>
                                  School bus transportation is one of the
                                  most intricate and costly parts of every
                                  school district. According to the New York
                                  School Bus Contractors Association, more than
                                  480,000 school busses transport an estimated
                                  26 million students
                                  nationwide. School district...
                                </p>
                              </div>
                            </div>
                          </article>

                          <article
                            id="post-8787"
                            class="et_pb_post clearfix et_pb_no_thumb et_pb_blog_item_0_2 post-8787 post type-post status-publish format-standard hentry category-redirect-post"
                          >
                            <h2 class="entry-title">
                              <a
                                href="https://herecomesthebus.com/arizona-district-invests-in-parent-app-for-greater-accountability-connection/"
                                >Arizona District Invests in Parent App for
                                Greater Accountability, Connection</a
                              >
                            </h2>

                            <div class="post-content">
                              <div
                                class="post-content-inner et_multi_view_hidden"
                              >
                                <p>
                                  Here Comes The Bus and Student Ridership
                                  provide improved parent communication for
                                  Arizona District.
                                </p>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="et_pb_section et_pb_section_14 et_pb_with_background et_section_regular"
            >
              <div class="et_pb_row et_pb_row_16">
                <div
                  class="et_pb_column et_pb_column_4_4 et_pb_column_36 et_pb_css_mix_blend_mode_passthrough et-last-child"
                >
                  <div class="et_pb_module et_pb_image et_pb_image_16">
                    <a href="https://herecomesthebus.com/"
                      ><span class="et_pb_image_wrap"
                        ><img
                          loading="lazy"
                          width="179"
                          height="182"
                          src="https://herecomesthebus.com/wp-content/uploads/2019/05/hctb_circle-logo.png"
                          alt=""
                          title=""
                          class="wp-image-1140" /></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
